$blackColor: #16171d !default;
$darkColor: $blackColor !default;
$lightColor: #ffffff !default;
$paraTextColor: #000000 !default;
$footerTextColor: $paraTextColor !default;
$primaryColor: $blackColor !default;

$navInactiveColor: lighten($blackColor, 20%) !default;
$navActiveColor: $blackColor;
$navHeaderColor: lighten($blackColor, 60%) !default;

$sidebarBorderColor: darken($lightColor, 10%) !default;

$fillNavInactiveColor: darken($lightColor, 20%) !default;
$fillNavActiveColor: $lightColor;

$btnBorderColor: darken($lightColor, 20%) !default;
$btnFillColor: darken($lightColor, 40%) !default;

$hrColor: darken($lightColor, 10%) !default;

$maxContentWidth: 960px !default;

$mediumBreakPoint: "screen and (max-width: 1152px)";
$smallBreakPoint: "screen and (max-width: 720px)";
