@import "fly/bootstrap/normalize";
@import "fly/sourcesanspro";
@import "fly/variables";
@import "fly/mixins";

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
}

.fill {
  background-color: $darkColor;
  color: $lightColor;

  a {
    color: $lightColor;
  }
}

// Layout

.container-outer {
  position: relative;
  display: block;
  width: 100%;
}

  .container-inner {
    position: relative;
    display: block;
    max-width: $maxContentWidth;
    margin: 0 auto;
  }

    .content {
      @include clearfix();
    }

.top-bar {
  position: relative;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  line-height: 2.5em;
  font-size: 1em;

  > .brand {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
  }
}
