@import "fly/bootstrap/normalize";
@import "fly/sourcesanspro";
@import "fly/variables";
@import "fly/mixins";

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  line-height: 1.5em;
}

h1, .h1 {
  font-size: 1.875em;
  line-height: 2em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3 {
  font-size: 1.25em;
}

h4, .h4 {
  font-size: 1.125em;
}

h5, .h5 {
  font-size: 1.0625em;
}

h6, .h6 {
  font-size: 1em;
}

header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  > h1, > h2 {
    margin: 0;
    line-height: 1.5em;
  }
}

time {
  color: $paraTextColor;
}

p {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5em;
  color: $paraTextColor;
}

a, a:visited, a:active {
  color: $primaryColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: darken($primaryColor, 10%);
}

strong {
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 2px solid $hrColor;
  font-size: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
}

footer {
  color: $footerTextColor;
  line-height: 1.5em;

  a {
    color: inherit;
  }
}

input[type=text] {
	@include text-input;
}

.fill {
  background-color: $darkColor;
  color: $lightColor;

  a {
    color: $lightColor;
  }

  p {
    color: $lightColor;
  }
}

.btn {
  display: inline-block;
  border: 2px solid $btnBorderColor;
  border-radius: 2px;
  font-size: 1.125em;
  padding: 0.75em 1em;
  line-height: 1em;
  text-decoration: none;
  margin: 0.25em;
  background-color: transparent;

  &:hover {
    border-color: lighten($btnBorderColor, 8%);
    text-decoration: none;
  }

  &.fill {
    border-color: $btnFillColor;
    background-color: $btnFillColor;

    &:hover {
      border-color: darken($btnFillColor, 4%);
      background-color: darken($btnFillColor, 4%);
    }
  }

  &.small {
    font-size: 1em;
    padding: 0.5em 1em;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      border-color: $btnBorderColor;
    }

    &.fill {
      &:hover {
        border-color: $btnFillColor;
        background-color: $btnFillColor;
      }
    }
  }
}

.btn-primary {
  border-color: $primaryColor;
  background-color: $primaryColor;
  color: $lightColor;

  &:hover {
    border-color: darken($primaryColor, 4%);
    background-color: darken($primaryColor, 4%);
    color: $lightColor;
  }

  &[disabled] {
    &:hover {
      border-color: $primaryColor;
      background-color: $primaryColor;
    }
  }
}

// Layout

.container-outer {
  position: relative;
  display: block;
  width: 100%;
}

  .container-inner {
    position: relative;
    display: block;
    max-width: $maxContentWidth;
    margin: 0 auto;
  }

    .content {
      @include clearfix();

      &.narrow {
        width: 60%;
        margin: 0 auto;
      }
    }

.top-bar {
  position: relative;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  line-height: 2.5em;
  font-size: 1em;

  .brand {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    float: left;
  }
}

.nav-h {
  > ul, > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    > li {
      float: left;
      margin-right: 2em;
      font-weight: 600;
      color: $navInactiveColor;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $navInactiveColor;
      }

      &.active, &:hover {
        color: $navActiveColor;
        a {
          color: $navActiveColor;
        }
      }
    }
  }
}

.fill .nav-h {
  > ul {
    > li {
      color: $fillNavInactiveColor;

      a {
        color: $fillNavInactiveColor;
      }

      &.active, &:hover {
        color: $fillNavActiveColor;
        a {
          color: $fillNavActiveColor;
        }
      }
    }
  }
}

footer .nav-h {
  > ul {
    > li {
      font-weight: inherit;
      color: inherit;

      a {
        color: inherit;
      }
    }
  }
}

.nav-list {
  > ul {
    list-style: none;
    padding: 0;

    > li {
      > a {
        display: block;
        padding: 0.5em 1em;
      }

      &.nav-header {
        margin-left: 1em;
        font-weight: 600;
        color: $navHeaderColor;
        margin-bottom: 1em;
      }

      &.active {
        background-color: lighten($sidebarBorderColor, 4%);
        > a {
          color: $navActiveColor;
        }
      }
    }
  }
}

.sidebar {
  float: left;
  width: 20%;
  height: 100%;
}

.content-with-sidebar {
  margin-left: 20%;
  padding-left: 1em;
  border-left: 1px solid $sidebarBorderColor;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.centered-text {
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}


/*
 * Responsiveness
 */

@media #{$mediumBreakPoint} {
  .container-inner {
    margin: 0;
    max-width: none;
    margin-left: 2em;
    margin-right: 2em;
  }

  .content.narrow {
    width: 90%;
  }
}

@media #{$smallBreakPoint} {
  .sidebar {
    float: none;
    width: auto;
    height: auto;
    border: none;
    margin: 0;
  }

  .content-with-sidebar {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }
}
